<h1>Tell us your feedback! </h1>


<form action="/contact/create" method="POST">
<div>
<label> Comments </label>
<textarea class="form-control" rows="3" name="comments"></textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>